<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="jquery/jquery.min.js"></script>
    <script src="javascripts/app.js"></script>
    <title></title>
</head>
<body>
    <h1>Sup Everyone</h1>
    <form id="inputForm" method="POST">
        <label>Name</label><input name="student_name" id="student_name" type="text"><br/><br/>
        <label>Assignment Number</label><input name="assignment_number" id="assignment_number" type="number"><br/><br/>
        <label>Score</label><input name="score" id="score" type="number"><br/><br/>
        <label>Date Completed</label><input name="date_completed" id="date_completed" type="date"><br/><br/>
        <button type="submit">Submit</button>
    </form>
    <div>
        <h1>Assignment #1</h1>
        <p class="assignmentOne">Current student(s) working:</p>
    </div>
    <div class="assignmentTwo">
    </div>
</body>
</html>